// #####################################################################
//                            Selectors
// #####################################################################

body
    position: relative
    color: $default-color
    font-family: 'Poppins', sans-serif
    padding: 40px