//-------------------------
// Background
//-------------------------

.background
    background-image: url('../img/img-banner.png')   
    background-size: cover
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    right: 0