//------------
// Intro
//------------

.intro__title
    font-weight: bold
    color: $white
    font-size: 16vh
    text-transform: uppercase
    line-height: 0.9em
    margin: 10vh 0 15px 0
    +only_mobile()
      font-size: 9vh
