//--------------------------
//          Social
//--------------------------

.social__list
    margin: 20px 0
    list-style: none
    padding: 0

.social__link
    display: block
    line-height: 0

.social__item
    display: inline-block
    vertical-align: middle
    padding: 5px

.social__image
    width: 25px
    height 25px

.social__item
    padding: 10px
    border: 1px solid $brand
    transition: .5s filter ease
    filter: grayscale(100%)
    &:hover
      filter: none
