.-only-mob
    display none
    +only_mobile()
        display block


.-hidden-desk
    display block
    +only_desk()
        display none

.-is-hidden
    display none

.-is-transparent
    opacity 0