// #####################################################################
//                            Variables
// #####################################################################

$brand = #0f6aaf
$white = #fff
$default-color = #555
$gray = #777
$gray-light = #ececec